* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;
  color: white;
}

h1, h2 {
  text-align: center;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  border-color: #323232;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

ul {
  font-size: 2em;
}

.nav-item {
  letter-spacing: 0em;
}


.card{
  -webkit-transition: 0.5s;
          transition: 0.5s;
}

.card-avatar {
  overflow: auto;
  display: block;
  width: 230px;
  height: 200px;
  transition: .2s ease-in-out;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #fff;
  filter: grayscale(100);

}

.card-avatar:hover{
  filter: none;
}


.card:hover{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  box-shadow: 0px 0px 20px #fff;
}

header {
  height: 100%;
  padding: 180px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;

}

.head_container{
  padding-bottom: 10%;
}


@media screen and (min-width: 1200px) {
    .head_banner {
      text-align: left;
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
  }
}

@media screen and (max-width: 1199px) {
    .head_banner {
      color: red;
      text-align: left;
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
  }
  .head_banner > h1, h2{
    font-size: 8px;
  }
}

.displayWrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 5%;
}


.column {
  float: left;
  min-width: 300px;
  max-width: 400px;
  padding: 0 10px;
}

.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  margin: 16px;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 10px;
  border-color: #323232;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #272B30;
  color: white;
  text-align: center;
  z-index: 100;
  box-shadow: 0px 0 10px rgba(0,0,0,0.8);
}
.title{
  display: flex;
  justify-content: center;
    margin: 5%;
}

.document {
  display: flex;
  justify-content:  space-evenly;
  transition: transform .2s ease-in;
}

.document-container {
  margin: auto;
}
